*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  touch-action: none;
  // width: 100vw;
  // height: 100vh;
}

form {
  position: absolute;
  background-color: rgba(0,0,0,0.1);
  bottom:0;
  right:0;
  transform:translateY(100%);

  > #form-button {
    position: absolute;
    transform:translateY(-100%);
    right:0;
    top:0;
    margin:0;
  }

  &:has(#form-button:checked) {
    transform:translateY(0);
  }
}
